@use "@angular/material" as mat;
@use "./scss/components/excuse";
@use "./scss/components/loader";
@use "./scss/components/background";
html {
  color-scheme: dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
        theme-type: dark,
      ),
      typography: "Caveat",
      density: 0,
    )
  );
}

*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0;
  margin: 0;
  font-family: "Caveat";

  app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: inherit;
  text-transform: none;
}

om-background-beams {
    display: flex;
    height: 100vh;
    width: 100vw;
    .om-background-beams {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      svg {
        path[id] {
            stroke-width: 5;
        }
      }
    }
  }